/*helpers*/
@import "../css/normalize/normalize";
@import "helpers/scss-font-awesome/font-awesome";
@import "base/common";
@import "base/typography";
@import "base/variables";

/*modules*/
@import "modules/header/header";
@import "modules/navigation/navigation";
@import "modules/slide/slide";
@import "modules/categories/categories";
@import "modules/info/info";
@import "modules/footer/footer";
@import "modules/about/about";
