.top-navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;

  &__wrap {
    width: 1015px;
    margin: 0 auto;
  }
}

.nav-title {
  width: 280px;
  display: flex;
  justify-content: flex-start;
  border-top: 70px solid $BLACKRGBA;
  border-right: 70px solid transparent;
  position: relative;
  cursor: pointer;
  transition: border-top 0.2s;

  &:hover {
    border-top: 70px solid $BLACKRGBADARK;
  }

  &__text, &__icon {
    position: absolute;
  }

  &__text {
    text-decoration: none;
    text-transform: uppercase;
    font: 18px $fontFamily;
    color: $WHITE;
    margin-left: 20px;
    top: -50px;
  }

  &__icon {
    font-size: 12px;
    color: $WHITE;
    top: -43px;
    left: 250px;
  }
}

.list {
  display: none;
  width: 280px;
  height: 272px;
  background-color: $BLACKRGBA;

  &__item {
    cursor: pointer;
    position: relative;
    padding: 20px;
    transition: backgroung-color 0.2s;

    &:hover {
      background-color: $BLACKRGBA;
  }

    &_active {
      background-color: $BLACKRGBA;
    }

    &_active .inside-list {
      display: block;
    }
  }

  &__item .inside-list {
    display: none;
  }
}

.item__text, .inside-list__item-text {
  font: 16px $fontFamily;
  color: $WHITE;
}

.item {
  display: block;
  text-decoration: none;

  &__icon {
    font-size: 12px;
    color: $WHITE;
  }

  &__text {
    margin-right: 5px;
  }
}

.inside-list {
  width: 280px;
  background-color: $BLACKRGBADARK;
  position: absolute;
  left: 280px;
  top: 0;

  &__item {
    display: block;
    text-decoration: none;
    padding: 20px;
    transition: background-color 0.2s;

    &:hover {
      background-color: $BLACKRGBA;
    }
  }
}
