.main-content {
  background-color: $WHITE;
  max-width: 1015px;
  margin: -105px auto 0;
  padding-top: 20px;
}

  .categories__text {
    font: 14px $fontFamily;
    color: $BLACK;
    margin-bottom: 20px;
  }

.category-item, .category-item__link, .category-item__link-img {
  height: 254px;
}

.category {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &-item {
    &__link {
      display: inline-block;
      position: relative;
      width: 49%;
      margin-bottom: 20px;

      &_hover {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: background-color 0.2s;

        &:hover {
          background-color: $BLACKRGBA;
        }
      }

      &-img {
        width: 100%;
      }
    }

    &__background {
      width: 390px;
      position:absolute;
      top: 0;
      border-top: 50px solid $WHITERGBA;
      border-right: 50px solid transparent;

      &-text {
        text-decoration: none;
        text-transform: capitalize;
        font: bold 16px $fontFamily;
        color: $BLACK;
        padding: 10px 0 10px 20px;
        position: absolute;
        top: -50px;
        z-index: 5;
      }
    }
  }
}


@media (max-width: 1050px) {
  .main-content {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 869px) {
  .main-content {
    margin-top: 0;
  }

  .category {

  }

  .category-item {
    &__background {
      width: 350px;

      &-text {
        font-size: 14px;
      }
    }

    &__link {
      width: 67%;
      margin: 0 auto 20px;
    }
  }
}

@media (max-width: 767px) {
  .category {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .category-item__link {
    width: 100%;
  }
}

@media (max-width: 370px) {
  .category-item__background {
    width: 320px;
  }
}

