.categories-wrap {
  background-color: $WHITE;
  margin-top: -105px;
}

.categories {
  width: 1015px;
  margin: 0 auto;
  padding-top: 20px;

  &__text {
    font: 14px $fontFamily;
    color: $BLACK;
    margin-bottom: 20px;
  }
}

.category-item, .category-item__link, .category-item__link-img {
  height: 254px;
}

.category {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &-item {
    &__link {
      display: inline-block;
      position: relative;
      width: 49%;
      margin-bottom: 20px;

      &_hover {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: background-color 0.2s;

        &:hover {
          background-color: $BLACKRGBA;
        }
      }

      &-img {
        width: 100%;
      }
    }

    &__background {
      width: 350px;
      position:absolute;
      top: 0;
      border-top: 50px solid $WHITERGBA;
      border-right: 50px solid transparent;

      &-text {
        text-decoration: none;
        text-transform: capitalize;
        font: bold 16px $fontFamily;
        color: $BLACK;
        padding: 10px 0 10px 20px;
        position: absolute;
        top: -50px;
        z-index: 5;
      }
    }
  }
}