.about-wrap {
  background-color: $WHITE;
  margin-top: -105px;
}

.about {
  width: 1015px;
  margin: 0 auto;

  &-us {
    padding-top: 30px;
    margin-bottom: 30px;

    &__title {
      text-transform: uppercase;
      font: bold 18px $fontFamily;
      color: $BLACK;
      margin-bottom: 30px;
    }
  }

  &-items {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 30px;

    &__item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
    }

    &__info {
      width: 80%;
    }
  }

  &__icon {
    width: 146px;
    height: 146px;
    align-self: center;
  }
}

.paragraphs {
  background-color: $BOTTICELLI;

  &_margin {
    padding: 30px;
  }

  &__item {
    font: 14px $fontFamily;
    color: $BLACK;
    margin-bottom: 20px;
  }

  &__item:last-child {
    margin-bottom: 0;
  }
}

.icon {
  &-hands {
    background: url("/img/icon_hands.png") no-repeat;
  }

  &-hand-earth {
    background: url("/img/icon_hand_earth.png") no-repeat;
  }

  &-puzzle {
    background: url("/img/icon_puzzle.png") no-repeat;
  }
}