.header {
  background-color: $WHITERGBA;
  position: relative;
  z-index: 3;

  &-top {
    max-width: 1015px;
    display: flex;
    margin: 0 auto;
    padding: 20px 0;

    &__logo {
      width: 270px;
      height: 65px;
      display: inline-block;
      background: url("../../../img/logo.png") no-repeat;
      flex-grow: 3;
      cursor: pointer;
    }

    &__shop {
      width: 16px;
      height: 16px;
      margin-top: 24px;
      margin-left: 10px;
      cursor: pointer;
    }
  }
}

.brands {
  height: 40px;
  margin-top: 10px;
  flex-grow: 0.5;

  &__item {
    display: inline-block;
    cursor: pointer;
  }
}

.search {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  &-form {
    position: relative;
    bottom: 21px;

    &__input {
      width: 140px;
      font: 12px $fontFamily;
      padding-left: 10px;
      border: 1px solid $GRAY;

      &:focus {
        outline: none;
      }
    }

    &__icon {
      width: 16px;
      height: 16px;
      background-color: transparent;
      border: none;
      position: absolute;
      top: 1px;
      left: 120px;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }
}

.search-form__icon .fa, .header-top__shop .fa {
  font-size: 16px;
  color: $BLACK;
  transition: color 0.2s;
}

  .search__text {
    text-decoration: none;
    font: bold 12px $fontFamily;
    color: $BLACK;
    transition: color 0.2s;
    margin: 0 auto;
  }

.search__text:hover, .search-form__icon .fa:hover, .header-top__shop .fa:hover {
  color: $GRAY;
}


@media (max-width: 869px) {
  .header-top {
    flex-direction: column;
    align-items: center;

    &__shop {
      position: relative;
      top: -63px;
      left: 80px;
    }
  }

  .search__text {
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .header-top {
    padding-bottom: 0;
  }
}

@media (max-width: 421px) {
  .brands {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search {
    margin-top: 65px;
  }
}