@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/awesomeFonts/fontawesome-webfont.eot');
  src: url('/fonts/awesomeFonts/fontawesome-webfont.eot?iefix') format('eot'),
  url('/fonts/awesomeFonts/fontawesome-webfont.woff') format('woff'),
  url('/fonts/awesomeFonts/fontawesome-webfont.ttf') format('truetype'),
  url('/fonts/awesomeFonts/fontawesome-webfont.svg#webfont') format('svg');
}