$WHITE: #fff;
$WHITERGBA: rgba(255, 255, 255, .8);
$BLACK: #000;
$BLACKRGBA: rgba(0, 0, 0, .7);
$BLACKRGBADARK: rgba(0, 0, 0, .9);
$GRAY: #888;
$BOTTICELLI: #c6d8e7;

$fontFamily: 'Open Sans', sans-serif;
